@mixin container($bg-color, $color) {
  background-color: $bg-color;
  color: $color;
  padding: 3rem 6rem;

  @media (max-width: $breakpoints-tablet) {
    padding: 2rem 4rem;
  }

  @media (max-width: $breakpoints-phone) {
    padding: 1rem 2.5rem;
  }
}

@mixin container-flex($a, $d, $j) {
  align-items: $a;
  display: flex;
  flex-direction: $d;
  flex-wrap: wrap;
  justify-content: $j;
}
