$color-black: #000000;
$color-blue-dark: #091d3a;
$color-grey-light: #ccc;
$color-grey-dark: #333333;
$color-red: #ff0000;
$color-white: #ffffff;

$color-corporate-primary: $color-red;
$color-corporate-secondary: $color-blue-dark;

$color-text-dark-primary: rgba($color-black, 0.85);
$color-text-dark-secondary: rgba($color-black, 0.65);
$color-text-dark-tertiary: rgba($color-black, 0.35);

$color-text-light-primary: rgba($color-white, 0.85);
$color-text-light-secondary: rgba($color-white, 0.65);
$color-text-light-tertiary: rgba($color-white, 0.35);

$border-btn: 0.095rem;

$breakpoints-phone: 640px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1024px;
