* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.component-1-container {
  background-color: #091d3a;
  color: white;
  padding: 32px 96px;
}

.component-1-container a {
  color: inherit;
  text-decoration: none;
}

.component-1-texts {
  text-align: center;
}

.component-1-texts > h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

.component-1-texts > hr {
  width: 128px;
  margin: 0px auto;
  border-style: dashed;
}

.component-1-texts > p {
  line-height: 1.5;
  margin: 16px auto;
  width: 60%;
}

.component-1-blocks {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.component-1-block {
  margin: 0 10px;
  width: 30%;
  height: auto;
}

.component-1-block > div {
  position: relative;
}

.component-1-block > div > div {
  font-size: 4rem;
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms;
  vertical-align: middle;
}

.component-1-block > div:hover > div {
  opacity: 1;
}

.component-1-block > div > a > img {
  height: auto;
  width: 100%;
  transition: all 300ms;
}

.component-1-block > div:hover > a > img {
  object-fit: cover;
  opacity: 0.35;
}

.component-1-block > a > h3 {
  line-height: 2;
  margin-bottom: 16px;
  transition: color 300ms;
}

.component-1-block > a > h3:hover {
  color: red;
}

.component-1-block > p {
  line-height: 1.5;
  margin-bottom: 16px;
}

/* Animations */
@keyframes imageHoverEffect {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
