* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.component-2-container {
  align-items: center;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 128px;
}

.component-2__texts {
  position: relative;
  width: 35%;
}

.component-2__texts > h3 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.component-2__line-container {
  height: 4px;
  margin-bottom: 24px;
  width: 100%;
}

.component-2__line-container > div {
  animation: lineAnimation 4000ms ease-in-out infinite;
  background-color: red;
  height: 4px;
}

.component-2__texts > div > p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 24px;
}

.component-2__texts > div > button {
  background-color: red;
  border: 1px solid red;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bolder;
  padding: 20px 48px;
  text-transform: uppercase;
  transition: all 300ms;
}

.component-2__texts > div > button:hover {
  background-color: transparent;
  color: red;
}

.component-2__images {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.component-2__img-row-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.component-2__img-row-1,
.component-2__img-row-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.component-2__img-1,
.component-2__img-3 {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.component-2__img-row-1 > div,
.component-2__img-row-2 > div {
  position: relative;
  text-align: center;
  width: 45%;
}

.component-2__img-row-1 > div > img,
.component-2__img-row-2 > div > img {
  animation: imgFadeAnimation 4000ms ease-in-out infinite;
  height: 128px;
  width: auto;
}

@keyframes imgFadeAnimation {
  0% {
    opacity: 0;
  }

  8% {
    opacity: 1;
  }

  92% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
