* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.component-3-container {
  background-color: red;
  color: white;
  padding: 48px 10% 48px 28%;
}

.component-3-container h3 {
  font-size: 3rem;
  margin-bottom: 48px;
}

.component-3__animated-line {
  margin-bottom: 48px;
}

.component-3__animated-line > div > p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25rem;
  max-height: 1.25rem;
}

.animated-line__fake-cursor {
  animation: blink-caret 0.75s step-end infinite;
  border-right: 0.15em solid white;
}

.component-3-container > div > button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bolder;
  padding: 16px 24px;
  text-transform: uppercase;
  transition: 200ms;
}

.component-3-container > div > button:hover {
  background-color: white;
  color: red;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
